lab-2/qn2/output.txt
lab-2/TEAM_09_ASSIGN_02.zip
lab-3/qn1/input_data
lab-3/qn1/output_data
lab-3/qn3/final_seed.txt
lab-3/qn3/initial_seed.txt
lab-3/TEAM_09_ASSIGN_03.zip
lab-4/Programs on Linked Lists - Reg.zip
lab-4/qn1/qn1.zip
lab-4/qn2/qn2.zip
lab-4/qn3/qn3.zip
lab-4/qn4/qn4.zip
lab-4/qn1/runtime_data
lab-4/qn2/runtime_data
lab-4/qn3/runtime_data
lab-4/qn4/runtime_data